* {
    background-color: #1680AC;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
}

.btn {
    border-radius: 3%;
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5%;
}

@media (max-width: 200px){
}